<section class="astronauts">
  <h2>Astronauts</h2>
  <ol>
    <% @astronauts.each do |astronaut| %>
      <% their_missions = @missions.select do |mission| %>
        <% mission.astronaut_id == astronaut.id %>
      <% end %>
      <% their_missions.sort %>
        <li><%= astronaut.name %>
          <ul>
            <li>Age: <%= astronaut.age %></li>
            <li>Job: <%= astronaut.job %></li>
            <% time_in_space = their_missions.sum do |mission| %>
              <% mission.time_in_space %>
            <% end %>
            <li>Total time in space: <%= time_in_space %></li>
          </ul>
          <p>Space Missions:</p>
            <ul>
              <% their_missions.each do |mission| %>
              <li><%= mission.title %></li>
              <% end %>
            </ul>
        </li><br>
    <% end %>
  </ol>
</section><hr><br>
<section id="avg-age">

  <p>Average age of astronauts: <%= @astronauts.average(:age) %></p>
</section>
